<div class="container-fluid">

  <div class="m-3">
    <div class="text-center">
      <button  type="button" class="btn btn-outline-success btn-sm fw-bold" ng-click="addProductModal()" data-bs-toggle="modal" data-bs-target="#addProductModal">
              Add New
    </button>
    </div>

    <div class="d-flex justify-content-center m-5" ng-if="!showProducts">
            <div
              class="spinner-border text-info"
              role="status"
              style="width: 4rem; height: 4rem"
            >
              <span class="visually-hidden">Loading...</span>
            </div>
    </div>

    <div style="display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top:10px" >
      <div class="product-card d-flex justify-content-between border border-light rounded border border-3 p-2 m-1 w-50 shadow p-3 mb-2 bg-body rounded"  style="background-color:aliceblue!important"
      ng-repeat="prod in products">
        <div>
          <img src={{prod.image}} style="width:100px" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{prod.title}}</h5>
          <span class="badge rounded-pill bg-primary">$ {{prod.price}}</span>
          <span class="badge bg-info text-dark">{{prod.category}}</span>
          <span class="badge bg-secondary">{{prod.rating.rate}}</span>
          <p class="card-text">{{prod.description}}</p>
          <button  class="btn btn-warning btn-sm" ng-click="addEditModal(prod)" data-bs-toggle="modal" data-bs-target="#editProductModal">Update</button>
          <button  class="btn btn-danger btn-sm" ng-click="deleteProductModal(prod.id)" data-bs-toggle="modal" data-bs-target="#deleteProductModal">Delete</button>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- Add Product Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form name="addProdForm">
          <div class="mb-2">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" id="title" ng-model="product.title" required>
          </div>
          <div class="mb-2">
            <label class="form-label">Description</label>
            <textarea class="form-control" id="desc" rows="3" ng-model="product.description" required></textarea>
          </div>
          <div class="mb-2">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" id="price" ng-model="product.price" required>
          </div>
          <div class="mb-2">
            <label class="form-label">Category</label>
            <input type="text" class="form-control" id="cat" ng-model="product.category" required>
          </div>
          <div class="mb-2">
            <label class="form-label">Image Url</label>
            <input type="text" class="form-control" id="img" ng-model="product.image" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary btn-sm"  ng-click="addProduct()" ng-disabled="addProdForm.$invalid" data-bs-dismiss="modal">Add</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- Edit Product Modal -->
<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form name="addProdForm">
          <div class="mb-2">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" id="title" ng-model="product.title" required>
          </div>
          <div class="mb-2">
            <label class="form-label">Description</label>
            <textarea class="form-control" id="desc" rows="3" ng-model="product.description" required></textarea>
          </div>
          <div class="mb-2">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" id="price" ng-model="product.price" required>
          </div>
          <div class="mb-2">
            <label class="form-label">Category</label>
            <input type="text" class="form-control" id="cat" ng-model="product.category" required>
          </div>
          <div class="mb-2">
            <label class="form-label">Image Url</label>
            <input type="text" class="form-control" id="img" ng-model="product.image" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary btn-sm"  ng-click="updateProduct()" ng-disabled="addProdForm.$invalid" data-bs-dismiss="modal">Update</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <strong>Are you sure you want to delete?</strong>      
      </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-sm btn-primary" ng-click="deleteProduct()" data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

